<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
<head>
<script type="text/javascript">
  var _kmq = _kmq || [];
  function _kms(u){
    setTimeout(function(){
      var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
      s.src = u; f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/c9f2ac7c054dee2b4d9d8cd67d525177b5ad5a3a.1.js');
</script>
  <title>{{ page.title }}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="content-language" content="en" />
  <meta name="googlebot" content="NOODP" />
  <meta name="robots" content="NOODP" />
  <meta name="author" content="Corin Cole" />
  <meta name="description" content="{{ page.metadesc }}" />
  <meta name="keywords" content="{{ page.metakeywords }}" />
  <link rel="stylesheet" href="http://www.corincole.com/css/style.css" type="text/css" />
  <link rel="stylesheet" href="http://www.corincole.com/css/highlighting.css" type="text/css" />
  <link rel="alternate" href="http://www.corincole.com/atom.xml" title="Corin Cole" type="application/atom+xml" />
  <script type="text/javascript">var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-3387748-4"]);_gaq.push(["_trackPageview"]);(function(){var ga=document.createElement("script");ga.type="text/javascript";ga.async=true;ga.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga,s)})();</script>
</head>
<body>
  <div class="site">
    <div class="title">
      <a id="{{ page.pageid }}-home" title="Home page" href="/">Corin Cole</a>
      <a id="{{ page.pageid }}-home" title="Home page" class="extra" href="/">h<span class="menuhover">ome</span></a>
      <a id="{{ page.pageid }}-about" title="About me" class="extra" href="/about.html">a<span class="menuhover">bout me</span></a>
      <a id="{{ page.pageid }}-links" title="External links" class="extra" href="/links.html">l<span class="menuhover">inks</span></a>
      <a id="{{ page.pageid }}-rss" title="RSS feed" class="extra" href="/atom.xml">r<span class="menuhover">ss</span></a>
    </div>
{{ content }}
    <div class="footer">
      <div class="contact">
        <p>
          Corin Cole <small>(<a id="{{ page.pageid }}-footer-about" title="About Me" href="/about.html">about me</a>)</small><br />
          Freelance Consultant / <a id="{{ page.pageid }}-footer-heavenmedia" title="Heaven Media" target="_blank" href="http://www.heavenmedia.com">Heaven Media</a> Employee<br />
          corin.c.cole@gmail.com<br />
          corin@heavenmedia.com
        </p>
      </div>
      <div class="contact">
        <p>
          <a id="{{ page.pageid }}-footer-twitter" title="My twitter account" target="_blank" href="http://twitter.com/CorinCole">twitter.com/CorinCole</a><br />
          <a id="{{ page.pageid }}-footer-linkedin"  title="My LinkedIn profile" target="_blank" href="http://www.linkedin.com/in/corincole">linkedin.com/in/CorinCole</a><br />
          Site powered by <a title="This blog is powered by Jekyll" href="/category-technical/this-blog-is-powered-by-jekyll.html">Jekyll 0.5.7</a><br /> My source code is on <a id="{{ page.pageid }}-footer-github" title="Source of corincole.com on GitHub" target="_blank" href="https://github.com/corincole/corincole.com">GitHub</a>
        </p>
      </div>
      <div class="rss">
        <a id="{{ page.pageid }}-footer-rss" title="RSS feed" href="http://www.corincole.com/atom.xml">
          <img src="http://www.corincole.com/images/rss.png" alt="RSS feed" />
        </a>
      </div>
    </div>
  </div>
</body>
</html>
